html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:black;
}

#cTitulo {
    padding: 1em 2em 1em 2em;
    height: 50vh;
    width: 100%;
}
#titulo {
    height: 100%;
    padding: 5em 12em 1em 12em;
}


#opcionesSeleccionaModo {
    color: white;
    text-align: center; /*lados*/
    background-color: red;
    border-radius: 5px;
    height: 2em;
    padding-bottom: 2em;
}
#opcionesModo {
    display: flex;
    gap: 1em;
    padding-top:0.5em;

}

#cOpciones {
    padding: 1em 2em 1em 2em;
    height: 30vh;
    width: 100%;
}
#modoMenu {
    padding-bottom: 2em;

    
}

#opciones {
    height: 100%;
}

#bEmpezar, #bModo3, #bModo5, #bModo10, #bContinuar {
    width: 100%;
    border:none;
}

#iCorrecto {
    height: 100%;
    width: 50%;
}

#botonE{
    padding-top:0.5em;
}
/* componentes vistas "correcto" y "incorrecto"*/
#encabezado {
    padding: 1em 1em 1em 1em;
    width: 100%;
    height: 15vh;
}

#mensaje {
    padding: 0.5em 0em 0em 0em;
    height: 100%;
}
#cMensaje {
    display: flex;
    justify-content: center;
    color:white;
}

#cTituloC {
    padding: 1em 1em 1em 1em;
    height: 60vh;
    width: 100%;
}

#tituloC {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cOpcionesC {
    padding: 1em 2em 1em 2em;
    height: 15vh;
    width: 100%;
}
/* componentes vista "obtenerPregunta"*/

#cPregunta {
    padding: 0.25em 2em 0.5em 2em;
}

#pregunta{
    width:100%;
}

#cEncabezadoObtenerPregunta {
    
}

#encabezadoObtenerPregunta {
    padding: 0em 0em 0em 3em;
    color: white;
}

#mostrarPregunta {
    padding: 0em 2em 0em 2em;
    color:white;
}

#todo {
    padding: 8em 0em 0em 0em;
}

/* resultados */


#contenedorRes {
    color:white;
    width: 100%;
    height: 80vh;

    display:flex;
}

#izquierda {

    width: 50%;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
}

#derecha {

    width: 50%;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
}

#ri{
    width:300px;
    height:300px;
}

#contenedorAbajo {
    width: 100%;
    height: 20vh;
    
    display: grid;
    align-items: center;
    padding:1em;

}




.t {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
}
.tt {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}

.ttt {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
}

.r {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:10em;
}




